* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ HEADER ------ */

.header {
    max-width: 1920px;
    height: 667px;
    max-height: 667px;
}

.header_img {
    width: 100%;
    height: 100%;
    height: 667px;
    object-fit: cover;
    position: absolute;
}

.header_logo {
    position: relative;
    margin-top: 45px;
    margin-left: 35px;
}

.header_bloc {
    margin-top: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_bloc_title {
    max-width: 720px;
    font-size: 44px;
    color: #FFD15B;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.header_bloc_research {
    width: 100%;
    max-width: 880px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_bloc_research_bar {
    height: 90%;
    width: 100%;
    padding: 0px 30px;
    border-radius: 11px;
    font-size: 16px;
    transform: translateX(36.5px);
    border: 0px;
    color: rgb(141, 141, 141);
}

/* Pour la croix faire du js en mode, si carractère dans l'input ca apparait, et quand on click ca clear input*/
.header_bloc_research_cross {
    position: relative;
    font-size: 23px;
    color: rgb(179, 179, 179);
    transform: translateX(-50px);
    cursor: pointer;
}

.header_bloc_research_button {
    height: 50px;
    width: 50px;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateX(-38px);
    cursor: pointer;
}

/* ------ TRIAGE ------ */

.main {
    background-color: #EDEDED;
    max-width: 1920px;
    padding: 40px 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_triage {
    display: flex;
}

.top_triage_tri {
    margin: 0px 30px;
}

.top_quantite {
    font-family: 'Anton', sans-serif;
    font-size: 21px;
}

/* ------ MAIN ------ */

.main_bloc {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.main_div {
    width: 380px;
    height: 750px;
    margin: 0px 23px;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.recipe_img {
    width: 380px;
    height: 250px;
    object-fit: cover;
}

.recipe_time {
    font-family: 'Manrope', sans-serif;
    padding: 5px 15px;
    background-color: #FFD15B;
    text-align: center;
    width: 80px;
    position: absolute;
    transform: translate(280px, -238px);
    font-size: 16px;
    border-radius: 20px;
}

.recipe_title {
    font-family: 'Anton', sans-serif;
    margin: 18px 23px;
}

.recipe_bloc_info {
    padding: 0px 23px;
    font-family: 'Manrope', sans-serif;
    color: #7A7A7A;
}

.recipe_sous_title {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 10px;
}

.recipe_description {
    color: black;
    font-size: 13px;
    margin-bottom: 25px;
}

.recipe_bloc_ingredient {
    padding: 0px 23px;
    font-family: 'Manrope', sans-serif;
    color: #7A7A7A;
    display: flex;
    flex-wrap: wrap;
}

.bloc_ingredient {
    width: 50%;
    margin-bottom: 10px;
}

.bloc_ingredient_title {
    font-size: 13px;
    color: black;
}

.bloc_ingredient_unite {
    font-size: 13px;
}